.cell {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.cellHeader {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid black;
    border-left: none;
    border-right: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#table {
    background: white;
    opacity: 80%;
    border-collapse: collapse;
    border: 3px solid black;
    width: 80%;
}

#centering {
    text-align: center;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: black;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    margin-top: 100px;
}

.bg-image {
    /* The image used */
    background-image: url(majestaet.jpg);

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
    font-family: 'Kulim Park', sans-serif;
}

h1 {
    color: white;
}

button {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    border-radius: 12px;
    padding: 5px;
    background-color: white;
    color: black;
    border: 1px solid black; /* Green */
}

button:hover {
    background-color: #eaea00; /* Green */
}

button:focus {
    background-color: #eaea00; /* Green */
}
